.sidenav {
  background: linear-gradient(to right, #8e0e00, #1A1A1A);
  border-color: #1A1A1A;
  width: 225px;
}

.sidenav a {
  color: #FFF;

}

.sidenav i {
  padding-right: 11px;
  color: #ffffff;
  filter: drop-shadow( 1px 1px 8px rgba(255, 255, 255, 0.719));
}

.content {
  display: grid;
  place-items: center;
  align-content: center;
  height: 862px;
}

