<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="50">
      <mat-nav-list class="nav-list">
          <a mat-list-item routerLink="/">
              <i class="material-icons">home</i>
          Início
          </a>
          <a mat-list-item routerLink="/clock">
              <i class="material-icons">alarm</i>
          Relógio
          </a>
          <a mat-list-item routerLink="/weather">
            <i class="material-icons">nights_stay</i>
          Meteorologia
          </a>
          <a mat-list-item routerLink="/calendar">
            <i class="material-icons">event</i>
          Calendário
          </a>
          <a mat-list-item routerLink="/formprogress">
            <i class="material-icons">create</i>
          Form Progress
          </a>
          <a mat-list-item routerLink="/calculator">
            <i class="material-icons">calculate</i>
          Calculadora
          </a>
          <a mat-list-item routerLink="/imageslider">
            <i class="material-icons">tune</i>
          Edição
          </a>
          <a mat-list-item routerLink="/tictactoe">
            <i class="material-icons">games</i>
          Jogo do Galo
          </a>
          <a mat-list-item routerLink="/taxas">
            <i class="material-icons">euro_symbol</i>
          Taxas
          </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
