.footer {
  position: fixed;
  bottom: 0em;
  height: 3vh;
  display: flex;
  background-color: rgb(26, 26, 26);
  justify-content: flex-end;
}

.footer > span {
  font-size: 0.7rem;
  font-weight: 300;
}

