.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 1.2rem;
}

.home {
  background: linear-gradient(to right, #009fff, #ec2f4b);
  width: 1000px;
  height: 80px;
  font-size: 3rem;
  padding: 25px;
  align-items: flex-end;
  align-content: center;
}
