.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 1.2rem;
}

.home {
  background: linear-gradient(to right, #009fff, #ec2f4b);
  width: 1000px;
  font-size: 2rem;
  padding: 25px;
  align-items: flex-end;
  align-content: center;
  animation: animate 2s linear infinite;
}

.checked {
  font-size: 2rem;
}

@keyframes animate {
  100%{
    filter: hue-rotate(360deg);
  }
}
