full-calendar {
  width: 750px;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
}

.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 300px;
  border-radius: 10px;
  color: white;
  line-height: 1.5;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  border-left: 1px solid #405861;
  height: 620px;
  margin-top: 46px;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}


