full-calendar {
  width: 600px;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
}

.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 300px;
  border-radius: 5px;
  color: black;
  line-height: 1.5;
  background: #f8f663;
  border-left: 1px solid #405861;
  height: 400px;
  margin-top: 46px;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}


